name: test
on: push
workflow_dispatch:
jobs:
    jobt:
        runs-on: ubuntu-latest
        steps:
            - run: |
                echo "::notice::This is a notice message."
                echo "Helllo ${{ github.actor }}."
